{% extends "base.html" %}

{% block title %}HOME{% endblock %}

{% block body %}

<div class="row align-items-center">

<div class="col-lg  col-12 flex-grow-0">
    <div class="category-wrap dropdown d-inline-block float-right">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
            <i class="fa fa-bars"></i> All category 
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Machinery / Mechanical Parts / Tools </a>
            <a class="dropdown-item" href="#">Consumer Electronics / Home Appliances </a>
            <a class="dropdown-item" href="#">Auto / Transportation</a>
            <a class="dropdown-item" href="#">Apparel / Textiles / Timepieces </a>
            <a class="dropdown-item" href="#">Home & Garden / Construction / Lights </a>
            <a class="dropdown-item" href="#">Beauty & Personal Care / Health </a> 
        </div>
    </div> 
</div> 

</div> 

{% endblock %}